<a href="https://colab.research.google.com/github/Crissalyn/CCINSYSL_ASSIGNMENT_COM-DF211/blob/main/exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

Learning through data

Instruction: Define a function that will accept input and return the output that matches the examples given for each number

1. Find the function **f(x)**  

| Input  | CAT | DOG | APPLE | BANANA | ORANGE |  
| --- | --- | --- | --- | --- | --- |
| Output | cat | dog | apple | banana | orange

In [15]:
# Answer here
def lowerCase(input):
    print(input.lower())

lowerCase("CAT, DOG, APPLE, BANANA, ORANGE")

cat, dog, apple, banana, orange

2. Find the function **f(x)**  

| Input  | CAT | DOG | APPLE | BANANA | ORANGE |  
| --- | --- | --- | --- | --- | --- |
| Output | CT | DG | PPL | BNN | RNG

In [22]:
# Answer here
def removeVowels(x):
    vowels = "AEIOUaeiou"
    return ''.join([letter for letter in x if letter not in vowels])

input = ["CAT", "DOG", "APPLE", "BANANA", "ORANGE"]
output = [removeVowels(word) for word in input]

print(output)

['CT', 'DG', 'PPL', 'BNN', 'RNG']

3. Find the function **f(x)**  

| Input  | CAT | DOG | APPLE | BANANA | ORANGE |  
| --- | --- | --- | --- | --- | --- |
| Output | TAC | GOD | ELPPA | ANANAB | EGNARO

In [19]:
# Answer here
def reverse(x):
    return x[::-1]


reverse("ORANGE, BANANA, APPLE, DOG, CAT")

'TAC ,GOD ,ELPPA ,ANANAB ,EGNARO'

4. Find the function **f(x)**  

| Input  | 2 | 3 | 4 | 5 | 6 |  
| --- | --- | --- | --- | --- | --- |
| Output | 4 | 9 | 16 | 25 | 36

In [25]:
# Answer here
def squared(x):
  return x ** 2

input = [2, 3, 4, 5, 6]
output = [squared(value) for value in input]

print(output)

[4, 9, 16, 25, 36]

5. Find the function **f(x)**  

| Input  | 64 | 27 | 1000 | 729 | 512 |  
| --- | --- | --- | --- | --- | --- |
| Output | 4 | 3 | 10 | 9 | 8

In [26]:
# Answer here
def f(x):
  return round(x ** (1/3))

input = [64, 27, 1000, 729, 512]
output = [f(value) for value in input]

print(output)

[4, 3, 10, 9, 8]